div#uploadedimagebox {
  height: 50vh;
  width: 50vh;
  border: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: outset;
}
div#box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
img#uploadedimage {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 50vh;
  height: 50vh;
  z-index: 0; /* Lower z-index ensures it gets covered */
  overflow: hidden;
}
body {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.content {
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Higher z-index ensures it covers the image */
}
.contenty {
  z-index: 2;
}
div#slider1 {
  margin-top: 0vh;
  position: relative;
}
.slider {
  position: relative;
}
div#everything {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxes {
  display: flex;
  flex-direction: row;
}
